<p id="notice"><%= notice %></p>

<h1>Listing Sitepages</h1>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% if user_signed_in? %>
    <% if @sitepages.exists?(user_id: current_user.id) %> <strong>Sorry No More Pages to Add</strong><% else %> <%= link_to 'Add New Page', new_sitepage_path %></strong> <% end %>
    <% end %>
    <% @sitepages.each do |sitepage| %>
      <tr>
        <td><%= sitepage.title %></td>
        <td><%= sitepage.body %></td>
        <td><%= sitepage.user.email %></td>
        <td><%= link_to 'Read', sitepage %></td>
        <% if user_signed_in? %>
        <% if sitepage.user == current_user %>
          <td><%= link_to 'Edit', edit_sitepage_path(sitepage) %></td>
          <td><%= link_to 'Destroy', sitepage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        <% end %>  
      </tr>
    <% end %>
  </tbody>
</table>

<br>


