<p id="notice"><%= notice %></p>

<h1>Listing Sitepages</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sitepages.each do |sitepage| %>
      <tr>
        <td><%= sitepage.title %></td>
        <td><%= sitepage.body %></td>
        <td><%= link_to 'Show', sitepage %></td>
        <td><%= link_to 'Edit', edit_sitepage_path(sitepage) %></td>
        <td><%= link_to 'Destroy', sitepage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sitepage', new_sitepage_path %>
