<%= image_tag @sitepage.image.url(:medium) %>
<p><%= @sitepage.title %>
</p>

<p><%= @sitepage.body %></p>

<%= link_to 'Edit', edit_sitepage_path(@sitepage), class:'btn btn-warning' %> 
<%= link_to 'Back', sitepages_path,  class:'btn btn-success' %>
